<section class="contact grid-5">
    <h1 class="contact-header">Skontaktuj się z nami celem omówienia szczegółów.</h1>
    <div class="contact-cont">
        <div class="contact-block">
            <div class="contact-block-section">
                <p><strong>Usługi Kadrowo-Księgowe Beata Kabała</strong></p>
                <p>ul. Łagiewnicka 54/56 lok. 213</p>
                <p>91-463 Łódź</p>
            </div>
            <div class="contact-block-section">
                <p>NIP: 9471215495</p>
                <p>REGON: 472373675</p>
            </div>
            <div class="contact-block-section">
                <p>Biuro czynne w godzinach:</p>
                <p>Pon. - Pt.: 8:00 - 16:00</p>
            </div>
        </div>
        <div class="contact-block">
            <form class="contact-form" action="/" method="post">
                <input autocomplete="off" class="contact-input" type="text" name="fName" placeholder="Imię">
                <input autocomplete="off" class="contact-input" type="text" name="lName" placeholder="Nazwisko">
                <input autocomplete="off" class="contact-input" type="email" name="email" placeholder="Adres e-mail"
                    required>
                <textarea class="contact-message" name="message" placeholder="Twoja wiadomość" rows="4"
                    required></textarea>
                <button class="contact-btn" type="submit">Wyślij wiadomość</button>
            </form>
        </div>
    </div>
</section>

<footer>
    <p>
        <!-- Do uzupełnienia adres URL mojej strony -->
        &copy; 2022 <a class="footer-link" href="https://mr-mkabala.github.io/company-website-front/"
            target="blank">Mateusz Kabała</a>.<br> Wszelkie prawa zastrzeżone.
    </p>
</footer>