<div class="landscape">
    <h1>W trosce o zachowanie czytelności treści na stronie, prosimy o obrócenie ekranu do pozycji pionowej.</h1>
    <img src="images/svg/smartphone.svg" alt="Ikona polecenia obrócenia smartfona.">
</div>