<section class="navigation">
    <div class="nav">
        <img class="nav-img drop" src="images/svg/menu-icon.svg" alt="Ikona rozwinięcia menu.">
        <img class="nav-img exit" src="images/svg/exit-icon.svg" alt="Ikona zwinięcia menu.">
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="/">Strona główna</a></li>
            <li class="nav-item"><a class="nav-link" href="/o-firmie">O nas</a></li>
            <li class="nav-item"><a class="nav-link" href="/oferta">Oferta</a></li>
            <li class="nav-item"><a class="nav-link" href="/cennik">Cennik</a></li>
            <li class="nav-item"><a class="nav-link" href="/kontakt">Kontakt</a></li>
        </ul>
    </div>

    <div class="back-button">
        <img class="back-button-img" src="images/svg/arrow-up.svg" alt="Powrót do strony głównej.">
    </div>
</section>